@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}
/* header top-bar  */
.social-icons{
  display: flex;
  gap:2rem;
}
#account-info{
  display: flex;
  gap:2rem;
}
.icon{
  color: #3D3D3D;
  font-size: 21px;
}
.top-bar{
  width: 100%;
  padding: 0;
}

/* Main Header */
.search-bar{
  display: flex;
  gap: 2rem;
  margin-top:2rem;
}
.cart-icon{
  color: #3D3D3D;
  font-size:27px;
}
#input-bar{
  height:2.5rem;
  width: 20rem;
}
.aws-form-btn{
  background: #5677FC !important;
  
}
.aws-container .aws-search-form .aws-search-btn_icon{
  color: white !important;
}
#search-btn{
  color: white;
  margin: 0;
  width:3rem;
  height:2.5rem;
  background: #5677FC;
}
.logo img{
  width:60%;
}

/* Main Menu */
.main-navigation a{
  color: #fff;
}
.main-navigation a:hover{
  color: #fff;
}
.main-navigation ul{
  margin: 0;
}
.main-navigation li{
  font-size:20px;
  list-style: none;
  margin-right: 20px;
}
.menu-bar{
  display: flex;
}
.menu-bar li{
  list-style: none;
}
#navbar{
  background: #fff;
}
#navbar ul{
  background: #fff;
}
#site-navigation{
  padding-top:5px;
  color: #fff;
  width:100%;
  height: 4rem;
  background:#5677FC
}
.site-header{
  margin-bottom:2rem;
}
/* Feature Img Home */
.feature-img{
  width: 100%;
  height: 100%;
}

.feature-img img{
  width: 100%;
}

.site-main{
  height: 100%;
}

/* Popular Categories */
.popular-categories{
  display: flex;
  gap: 1rem;
  margin: 5rem 0;

}

.popular-categories div{
  width: 400px;
}

.popular-categories div img{
  width: 100%;
}

.advertisement{
  width: 100%;
}

.advertisement img{
  width: 100%;
}

.wp-block-social-links{
  margin: 0;
  padding: 0;
}

/* Footer */
footer{
  margin-top:5rem;
  padding: 2rem 0 1rem 0;
  border-top: 1px solid #DFDFDF;
  background: #F5F5F5;
}

.coloumn1 img{
  width: 50%;
}
.coloumn{
  margin-top:20px;
}
.footer-info{
  display: flex;
  gap: 1rem;
}

.menu-footer-menu-1 li{
  list-style: none;
}
#menu-footer-menu-1 li a{
  color: black;
  padding: 0.8rem 0;
}
#menu-footer-menu-2 li a{
  color: black;
  padding: 0.8rem 0;
}
#menu-footer-menu-3 li a{
  color: black;
  padding: 0.8rem 0;
}
.coloumn ul{
  margin: 0;
}

.coloumn ul{
  display: flex;
  flex-direction: column;
}
.footer-head{
  font-weight: 400;
}
.footer-icon{
  color: #3D3D3D;
  font-size:17px;
  margin-right:7px
}
.footer-widget{
  font-size: 17px;
}

.footer-copyright{
  margin-top:4rem;
}


/* Contact */
#nf-field-8{
  background-color:#3452FF;
  height:3rem;
  color:#fff;
  border: none;
}

.wp-block-post div{
  padding: 0 !important;
}
.wp-block-post-featured-image img{
  width:100%;
  height: 250px;
  object-fit:cover;
  margin-bottom:15px;
  object-position: center;
}
.wp-block-post-title a{
  color: black;
  font-size:23px;
  font-weight:500px
} 

.wp-block-column ul{
  margin: 0;
  padding: 0 ;
}

.wp-block-query ul{
  margin: 0;
  padding: 0 ;
}

.wp-block-table table tbody tr td{
  margin-top: 0;
  padding-top: 0;
}
.nf-form-cont{
  margin-top: 0;
  padding-top: 0;
}

li{
  list-style: none;
}

/* Single Post */

.post-img img{
  width:80%;
}
.post-img {
  margin-top: 1.6rem;
}
.post-content{
  margin-top: 2rem;
}
.nav-links{
  display: flex;
  justify-content: space-between;
}
.post-navigation{
  margin: 2.5rem 0;
}
.nav-subtitle{
  font-size:20px;
  color:#3D3D3D;
  font-weight:bold;
}
#submit{
  background-color:#5677FC;
  color:#fff;
  width:150px;
  height:35px;
  border:none;
}

#submit a{
  color:#fff;
}

.blog-post-img img{
  width:95%;
}
.blog-post-img{
  padding-top: 0.3rem;
}
.entry-title{
  margin: 0;
}
.entry-title h4{
  margin: 0;
}
.blog-post-content{
  margin-top: 0.5rem;
}
.blog-post-date{
  margin-top: 0.3rem;
}
.blog-single-post{
  margin-bottom: 3.5rem;
}
.next-sidebar{
  border-left: 1px solid #DFDFDF ;
  padding: 0 1.5rem;
}
.page-heading{
  margin-bottom:2rem
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  color:white;
  background:#5677FC;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  color:white;
  background:#5677FC;
}
.post-date{
  margin-top:0.4rem;
}
.attachment-woocommerce_thumbnail{
  width: 90%;
}